*{
    margin: 0;
    padding: 0;
    
}

.header{
    background-color: brown;
}

.container{
   padding: 10px;
    
    
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.book-container h3{
    color: brown;
    

}

.book-container h5{
    margin-top: 5%;
}
.book-container button{
    margin-top: 5%;
    background-color: brown;
    border-radius: 5%;
    padding: 2px;
}
.addbooks button{
    margin-top: 10%;
    border-radius: 50%;
    border: none;
    padding: 20px;
    font-size: 16px;
    background-color: brown;
    margin-left: 95%;
    
    
}
/* .carddetails{
    
  
    background-color: brown;
    color: white;
    border-radius: 10%;
    padding: 100px;
    width: 25%;
    margin-left: 30%;
    
 

 

} */
/* .carddetails input{
    margin-top: 5%;

}
.carddetails textarea{
    margin-top: 5%;
}
.carddetails button{
    margin-top: 5%;
    */


.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
    display: none;
}
.poopup-box{
    background-color: brown;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: 5%;
    margin-left: 10%;
    z-index: 3;
    display: none;
}
.poopup-box input{
    margin-top: 2%;
}
.poopup-box textarea{
    margin-top: 2%;
}
.poopup-box button{
    margin-top: 2%;
}
